*.pyc
.DS_Store
snippets.ipynb
.ipynb_checkpoints
#*.csv
list_imports.py
write_requirements.sh
update_zenodo.py
*.sqlite
.zenodo-new.json
.zenodo-old.json
words
thumbs
Untitled*
update_version.sh
.env
credentials.py
newspaper_issues*
querypic*.csv
draft*
App-*.ipynb
composite*.jpg
aww*.jpg
data/issues
trove-words*.jpg
victorian_newspaper_records.csv
victorian_newspapers.csv
nla.news-article*.jpg
*-level*.jpg
.github/workflows/release_new_version.yml
test_and_lint.sh
trove_newspaper_issues_per_day.html
