*.pyc
.DS_Store
snippets.ipynb
.ipynb_checkpoints
#*.csv
list_imports.py
write_requirements.sh
update_zenodo.py
*.sqlite
.zenodo-new.json
.zenodo-old.json
words
thumbs
Untitled*
update_version.sh
.env
credentials.py
newspaper_issues*
querypic*.csv
draft*
App-*.ipynb
composite*.jpg
aww*.jpg
data/issues
trove-words*.jpg
victorian_newspaper_records.csv
victorian_newspapers.csv
nla.news-article*.jpg
*-level*.jpg
.github/workflows/release_new_version.yml
test_and_lint.sh
trove_newspaper_issues_per_day.html
totals
words-mastodon
temp
trove-words*
missing
missing-basic
trove_newspaper_titles_2009_2021.csv.001.8da0ec1
trove_newspaper_titles_2009_2021.csv.001.8da0ec1.logmsg
trove_newspaper_titles_2009_2021.csv.001.ee18788
trove_newspaper_titles_2009_2021.csv.001.ee18788.logmsg
trove_newspaper_titles_first_appearance_2009_2021.csv.001.8da0ec1
trove_newspaper_titles_first_appearance_2009_2021.csv.001.8da0ec1.logmsg
trove_newspaper_titles_first_appearance_2009_2021.csv.001.ee18788
trove_newspaper_titles_first_appearance_2009_2021.csv.001.ee18788.logmsg
newspapers_non_english_20240709.csv
newspapers_non_english_20240913.csv
newspapers_non_english.csv
newspapers_post_54_20240627.csv
newspapers_post_54_20240913.csv
newspapers_post_54.csv
corrections_by_category_20240623.csv
corrections_by_category_20240913.csv
corrections_by_category.csv
corrections_by_title_20240623.csv
corrections_by_title_20240913.csv
corrections_by_title.csv
corrections_by_year_20240623.csv
corrections_by_year_20240913.csv
corrections_by_year.csv
git_all_versions_of
argus_issues_per_day.html
newspapers_post_54.csv
non-english-newspapers.md
pages-missing-by-title.csv
titles_corrected_20240623.csv
titles_corrected.csv
titles_corrected.csv.001.1472b10.2022-06-24
titles_corrected.csv.001.1472b10.logmsg.2022-06-24
data/test-issues.csv
issues
data/querypic-1725883153.html
data/querypic-20240908135829.html
issues_with_pages.ndjson
newspapers_post_54.csv
titles_list.md
README.md.old
