jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
beautifulsoup4
pycountry
notebook
IPython
langdetect
PIL
folium
requests_cache
arrow
surt
pandas
ipywidgets
language_tags
ipykernel
tqdm
altair
pyzotero
numpy
appmode
requests
lxml
