jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
beautifulsoup4
langdetect
pandas
notebook
ipywidgets
folium
ipykernel
Pillow
appmode
tqdm
requests
altair
pycountry
IPython
requests_cache
arrow
numpy
pyzotero
language_tags
lxml
