jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
beautifulsoup4
appmode
language_tags
Pillow
arrow
requests
requests_cache
numpy
ipykernel
tqdm
pandas
notebook
langdetect
ipywidgets
pyzotero
folium
pycountry
IPython
altair
lxml
