jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
beautifulsoup4
pycountry
#langdetect
pillow
folium
requests_cache
arrow
surt
pandas
ipywidgets
language_tags
tqdm
altair
pyzotero
requests
lxml
trove-query-parser
trove-newspaper-images
omeka-s-tools
# pycld3
py3langid
rectpack
python-dotenv
natsort
pyarrow
